In [2]:
import pandas as pd
import numpy as np
import tushare as ts

In [16]:
df = ts.get_report_data(2016,4)

[Getting data:]###########################################################

In [17]:
df

,code,name,eps,eps_yoy,bvps,roe,epcf,net_profits,profits_yoy,distrib,report_date
0,603214,爱婴室,0.99,25.32,4.02,25.78,1.61,7398.96,24.10,NaN,03-13
1,002931,锋龙股份,0.72,-14.29,2.61,32.01,1.01,4255.55,12.63,NaN,03-13
2,300504,天邑股份,0.78,25.81,8.32,30.45,1.55,15196.08,26.21,NaN,03-13
3,300634,彩讯股份,0.30,20.00,2.04,13.63,0.61,9109.40,32.68,NaN,03-06
4,600929,湖南盐业,0.18,-31.96,NaN,8.61,0.41,13859.31,-31.95,NaN,03-05
5,002930,宏川智慧,0.46,-14.81,6.03,8.06,1.37,8396.85,4.79,NaN,03-05
6,603059,倍加洁,1.13,32.94,NaN,30.89,1.32,6781.81,33.01,NaN,02-07
7,002928,华夏航空,0.96,-68.21,2.21,55.56,2.11,34576.95,43.04,NaN,02-06
8,300741,华宝股份,2.46,NaN,8.06,22.61,2.07,126337.31,-4.77,NaN,02-05
9,002929,润建通信,1.10,4.76,NaN,26.88,-0.47,17881.52,23.23,NaN,02-05
10,603680,今创集团,1.70,-4.29,NaN,30.80,0.41,64373.89,-4.29,NaN,01-31
11,002927,泰永长征,0.90,13.92,NaN,22.19,0.51,6334.93,18.56,NaN,01-30
12,603712,七一二,0.24,NaN,2.17,11.20,0.11,15882.06,-12.02,NaN,01-30
13,603709,中源家居,1.22,11.93,2.15,69.28,1.80,7322.09,23.86,NaN,01-25
14,300644,南京聚隆,1.68,-2.31,8.25,22.67,0.83,7866.02,4.71,NaN,01-24
15,603871,嘉友国际,2.43,42.27,6.12,41.55,3.06,14576.68,42.27,NaN,01-23
16,300740,御家汇,0.62,NaN,3.09,27.59,-0.61,7377.08,38.80,NaN,01-22
17,603156,养元饮品,5.54,4.61,NaN,46.73,4.85,274069.42,4.61,NaN,01-22
18,603516,淳中科技,1.17,50.00,3.44,42.86,0.50,8133.99,68.82,10派5.8,01-15
19,300739,明阳电路,1.41,NaN,4.79,33.10,1.40,12313.42,106.61,NaN,01-15
20,300738,奥飞数据,1.17,74.63,4.24,35.40,0.65,5556.97,107.33,NaN,01-08
21,300737,科顺股份,0.63,43.18,2.75,31.47,0.27,26444.63,60.37,10派0.7,01-08
22,603895,天永智能,1.09,NaN,NaN,31.84,-1.00,6309.16,4.33,NaN,01-08
23,603356,华菱精工,0.64,25.49,2.86,23.73,0.07,6391.45,24.87,NaN,01-03
24,300736,百华悦邦,1.16,17.17,4.81,26.28,1.92,4725.02,17.90,10派8,12-26
25,002925,盈趣科技,1.17,172.09,NaN,72.25,1.50,44547.57,170.33,NaN,12-26
26,300664,鹏鹞环保,0.66,49.66,NaN,14.04,1.34,26285.96,49.80,NaN,12-18
27,002923,润都股份,1.17,23.16,5.31,24.68,1.25,8746.58,22.90,NaN,12-18
28,002921,联诚精密,0.79,9.72,NaN,11.76,1.35,4745.96,9.70,NaN,12-13
29,002922,伊戈尔,0.72,-49.30,4.44,16.52,0.76,7162.94,-43.46,NaN,12-12
...,...,...,...,...,...,...,...,...,...,...,...
3475,300617,安靠智电,1.45,13.28,7.85,20.38,1.76,7258.36,13.81,NaN,02-13
3476,300033,同花顺,2.25,26.40,NaN,49.61,NaN,121157.67,26.57,10派9,02-10
3477,002349,精华制药,0.39,31.60,NaN,7.89,NaN,16502.97,111.36,10派1.5转10,02-09
3478,600167,联美控股,1.03,22.77,NaN,32.74,NaN,69892.42,295.76,NaN,02-08
3479,300606,金太阳,0.60,23.66,3.63,18.07,0.78,4020.83,23.87,NaN,02-07
3480,300605,恒锋信息,0.62,10.84,3.69,18.31,NaN,3903.77,10.85,10派0.5,02-07
3481,002846,英联股份,0.62,24.00,3.18,21.09,0.61,5541.99,22.76,NaN,02-06
3482,300613,富瀚微,3.36,200.00,8.16,52.71,2.54,11184.07,199.37,10派2.52,02-06
3483,600701,工大高新,0.12,-428.80,NaN,4.43,NaN,7658.02,-517.04,10派0.23,02-04
3484,002742,三圣股份,0.55,-37.50,NaN,9.37,NaN,11791.47,-3.16,10派1.5,01-26
3485,002107,沃华医药,0.14,-30.00,NaN,10.18,NaN,4880.94,-31.61,NaN,01-25
3486,600265,ST景谷,0.26,-137.14,NaN,NaN,NaN,3370.95,-137.02,NaN,01-25
3487,600408,安泰集团,-0.58,-1550.00,NaN,-46.36,NaN,-58195.48,-1635.53,NaN,01-25
3488,300304,云意电气,0.51,45.71,NaN,8.05,NaN,11005.26,55.71,10派1转28,01-25
3489,600816,安信信托,1.71,63.54,NaN,41.15,NaN,303394.74,76.17,10派6转12,01-25
3490,600151,航天机电,0.15,9.41,4.25,4.13,NaN,20045.26,16.13,10派0.45,01-25
3491,000545,金浦钛业,0.12,-7.69,NaN,6.58,NaN,12080.38,-7.91,10派0.3,01-24
3492,600227,赤天化,-0.24,-1221.60,NaN,-10.84,NaN,-34953.42,-1826.24,NaN,01-24
3493,603716,塞力斯,1.71,6.21,NaN,12.59,NaN,6891.79,12.14,10派0.8,01-24
3494,300401,花园生物,0.24,242.86,NaN,5.98,NaN,4377.28,262.52,10派0.5,01-24
3495,002849,威星智能,0.80,45.45,4.27,20.60,0.63,5222.86,47.15,10派1.1,01-23
3496,603025,大豪科技,0.53,23.26,NaN,16.19,NaN,23875.67,28.84,10派4.5,01-20
3497,000838,财信发展,0.10,-74.16,NaN,7.05,NaN,11130.79,32.70,10派0.21,01-20
3498,300561,汇金科技,1.83,8.28,NaN,27.99,NaN,7886.15,11.11,10派3.6转5,01-17
3499,002479,富春环保,0.31,29.65,NaN,8.83,NaN,24492.80,35.03,10派1,01-17
3500,002926,华西证券,NaN,NaN,NaN,NaN,NaN,104110.02,-61.75,NaN,01-16
3501,601108,财通证券,NaN,NaN,NaN,NaN,NaN,122282.36,-42.64,NaN,01-16
3502,603009,北特科技,0.46,7.51,NaN,6.16,NaN,5576.62,20.10,10转15,01-14
3503,600901,江苏租赁,NaN,NaN,NaN,NaN,NaN,82218.00,12.25,NaN,01-13
3504,601965,中国汽研,0.36,12.50,NaN,NaN,NaN,34184.23,9.96,10派1.5,01-13

遍历问题

In [55]:
L = df[df.code == df.code[0]]
L

,code,name,eps,eps_yoy,bvps,roe,epcf,net_profits,profits_yoy,distrib,report_date
0,603916,苏博特,0.15,NaN,5.02,3.04,0.08,3431.9,NaN,NaN,10-23

In [62]:
L.eps.values[0]

0.14999999999999999

In [4]:
date = df[df.code == '300494'].report_date

In [5]:
date.values[0]

'06-26'

In [13]:
str(2014-1)

'2013'

In [6]:
D = str(2014)+'-'+date.values[0]
D

'2014-06-26'

In [12]:
T1 = pd.to_datetime(D,format='%Y-%m-%d')
T1

Timestamp('2014-06-26 00:00:00')

In [8]:
T2 = pd.Timestamp(2014,6,24)

In [9]:
T1 - T2

Timedelta('2 days 00:00:00')

In [10]:
T2 - T1

Timedelta('-2 days +00:00:00')

In [11]:
T1 < T2

False

In [29]:
#获取日期
Year = 2016
Code = '300494'
T = []
for q in range(1,5):
    df = ts.get_report_data(Year,q)
    MD = df[df.code == '300494'].report_date.values[0]
    D = str(Year)+'-'+MD
    date = pd.to_datetime(D,format='%Y-%m-%d')
    if q > 2:
        if date < pd.Timestamp(Year,6,1):
            date = pd.to_datetime(str(Year+1)+'-'+MD)
    T.append(date)

[Getting data:]#######################################################[Getting data:]#########################################################[Getting data:]##########################################################[Getting data:]###########################################################

In [24]:
T1 = pd.to_datetime(D,format='%Y-%m-%d')

In [30]:
T

[Timestamp('2016-04-27 00:00:00'),
 Timestamp('2016-08-05 00:00:00'),
 Timestamp('2016-10-29 00:00:00'),
 Timestamp('2017-04-15 00:00:00')]

In [33]:
df = ts.get_report_data(2017,1)
MD = df[df.code == '300494'].report_date.values[0]
D = str(2017)+'-'+MD
date = pd.to_datetime(D,format='%Y-%m-%d')
date

[Getting data:]########################################################

Timestamp('2017-04-26 00:00:00')

储存格式问题

In [69]:
TS = pd.Series([1,2,3,4],index = T)

In [70]:
TS['ASDASDASDA'] = 5

In [74]:
TS

2016-04-27 00:00:00    1
2016-08-05 00:00:00    2
2016-10-29 00:00:00    3
2017-04-15 00:00:00    4
ASDASDASDA             5
dtype: int64

In [83]:
lalala = pd.Series()

In [85]:
lalala[df.code[0]] = 0
lalala

300693    0
dtype: int64

In [75]:
lalala['300494']['LSLS'] = 6

In [76]:
lalala['300494']

2016-04-27 00:00:00    1
2016-08-05 00:00:00    2
2016-10-29 00:00:00    3
2017-04-15 00:00:00    4
ASDASDASDA             5
LSLS                   6
dtype: int64

调用筛选问题

In [38]:
TS.index

DatetimeIndex(['2016-04-27', '2016-08-05', '2016-10-29', '2017-04-15'], dtype='datetime64[ns]', freq=None)

In [39]:
T1 = pd.Timestamp(2016,9,1)
T1 > TS.index[1]

True

空值存入问题

In [43]:
FN = []
FN.append(None)

In [44]:
FN

[None]

判断

In [97]:
LALA = pd.Series()

In [100]:
TTTT = True
LALA['0'] = pd.Series() if TTTT else LALA['0']
LALA['0']['B'] = 2
LALA

0    B    2
dtype: int64
dtype: object

In [3]:
#读取保存每支股票的eps
Year = 2016
A_EPS = pd.Series()
for q in range(1,5):
    df = ts.get_report_data(Year,q)
    for i in df.code:
        List = df[df.code == i]
        eps = List.eps.values[0]
        md = List.report_date.values[0]
        Date = str(Year)+'-'+md
        Date = pd.to_datetime(Date,format='%Y-%m-%d')
        if q > 2:
            if Date < pd.Timestamp(Year,6,1):
                Date = pd.to_datetime(str(Year+1)+'-'+md)
        try:
            A_EPS[i][Date] = eps
        except:
            A_EPS[i] = pd.Series() 
            A_EPS[i][Date] = eps

[Getting data:]#######################################################[Getting data:]#########################################################[Getting data:]##########################################################[Getting data:]###########################################################

In [110]:
a = input()
a

1

'1'

In [15]:
Leps = A_EPS['600618']
Leps

2016-08-30    0.01
2017-03-30   -0.28
dtype: float64

In [31]:
df = ts.get_hist_data('600618',start='2018-01-01')
df

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2018-04-10,10.44,10.60,10.55,10.38,37459.17,0.07,0.67,10.456,10.468,10.803,35594.15,36594.70,52204.01,0.50
2018-04-09,10.25,10.57,10.47,10.25,32399.49,0.07,0.67,10.460,10.418,10.839,34290.34,40222.21,52175.89,0.43
2018-04-04,10.26,10.50,10.41,10.26,35631.42,0.12,1.17,10.474,10.454,10.880,34234.06,41818.63,52391.27,0.48
2018-04-03,10.35,10.38,10.29,10.22,39189.84,-0.27,-2.56,10.470,10.496,10.919,34302.07,44124.49,52985.22,0.52
2018-04-02,10.53,10.64,10.56,10.52,33290.83,-0.02,-0.19,10.524,10.541,10.973,35282.48,46484.21,55076.12,0.44
2018-03-30,10.60,10.68,10.57,10.51,30940.12,0.03,0.28,10.480,10.583,10.993,37595.25,48550.77,56093.64,0.41
2018-03-29,10.41,10.58,10.54,10.41,32118.07,0.15,1.44,10.376,10.647,11.011,46154.07,54117.48,57014.53,0.43
2018-03-28,10.43,10.58,10.39,10.36,35971.47,-0.16,-1.52,10.434,10.768,11.042,49403.19,55877.02,58081.54,0.48
2018-03-27,10.51,10.67,10.56,10.41,44091.91,0.22,2.13,10.522,10.910,11.072,53946.92,59771.86,59108.50,0.59
2018-03-26,10.00,10.35,10.34,9.91,44854.66,0.30,2.99,10.558,11.027,11.092,57685.93,65820.61,60211.19,0.60
2018-03-23,10.51,10.53,10.05,9.90,73734.25,-0.81,-7.46,10.686,11.138,11.125,59506.29,67813.32,62092.30,0.98
2018-03-22,10.80,10.91,10.83,10.67,48363.68,0.01,0.09,10.918,11.260,11.162,62080.88,64129.58,62207.64,0.64
2018-03-21,10.73,10.98,10.83,10.73,58690.09,0.09,0.84,11.102,11.306,11.139,62350.85,62963.91,61475.99,0.78
2018-03-20,10.93,10.98,10.74,10.66,62786.98,-0.25,-2.27,11.298,11.341,11.104,65596.81,61845.95,59456.38,0.84
2018-03-19,11.17,11.18,10.98,10.96,53956.45,-0.23,-2.05,11.496,11.404,11.073,73955.29,63668.04,57695.14,0.72
2018-03-16,11.69,11.69,11.21,11.20,86607.21,-0.53,-4.51,11.590,11.402,11.031,76120.34,63636.51,56439.79,1.16
2018-03-15,11.64,11.82,11.75,11.60,49713.54,-0.05,-0.42,11.602,11.374,10.969,66178.28,59911.58,54780.34,0.66
2018-03-14,11.67,11.89,11.81,11.53,74919.87,0.07,0.60,11.510,11.316,10.903,63576.96,60286.06,54593.20,1.00
2018-03-13,11.40,11.93,11.73,11.37,104579.38,0.28,2.44,11.384,11.234,10.820,58095.10,58445.14,52863.19,1.39
2018-03-12,11.50,11.60,11.45,11.41,64781.72,0.18,1.60,11.312,11.157,10.737,53380.79,54601.77,49981.88,0.86
2018-03-09,11.27,11.34,11.27,11.13,36896.91,0.00,0.00,11.214,11.112,10.695,51152.67,56371.29,49004.85,0.49
2018-03-08,11.15,11.33,11.29,11.13,36706.90,0.10,0.89,11.146,11.064,10.650,53644.88,60285.69,49258.82,0.49
2018-03-07,11.30,11.31,11.18,11.18,47510.58,-0.20,-1.76,11.122,10.971,10.618,56995.17,59988.08,50846.59,0.63
2018-03-06,10.93,11.38,11.37,10.83,81007.86,0.41,3.74,11.084,10.866,10.616,58795.18,57066.80,50848.67,1.08
2018-03-05,11.00,11.09,10.96,10.69,53641.08,0.03,0.27,11.002,10.742,10.603,55822.75,51722.23,48689.12,0.72
2018-03-02,11.11,11.32,10.93,10.86,49357.97,-0.25,-2.24,11.010,10.659,10.609,61589.92,49243.08,48662.83,0.66
2018-03-01,10.91,11.30,11.17,10.83,53458.36,0.18,1.64,10.982,10.563,10.631,66926.50,49649.10,48430.90,0.71
2018-02-28,10.95,11.15,10.99,10.75,56510.65,0.03,0.27,10.820,10.490,10.652,62980.99,48900.34,49046.91,0.75
2018-02-27,10.99,11.20,10.96,10.85,66145.69,-0.04,-0.36,10.648,10.406,10.671,55338.42,47281.25,48029.55,0.88
2018-02-26,10.77,11.05,11.00,10.63,82476.93,0.22,2.04,10.482,10.317,10.693,47621.72,45362.00,46766.42,1.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-02-12,9.97,10.21,10.13,9.97,28849.53,0.17,1.71,10.152,10.463,10.961,43102.27,45656.00,47404.56,0.38
2018-02-09,10.12,10.24,9.97,9.73,53418.19,-0.47,-4.50,10.246,10.558,11.025,46380.58,48082.58,48542.53,0.71
2018-02-08,10.24,10.60,10.44,10.22,45970.79,0.29,2.86,10.326,10.699,11.105,44092.19,47212.70,47972.97,0.61
2018-02-07,10.36,10.40,10.15,10.01,40319.67,0.07,0.69,10.370,10.813,11.177,48590.52,49193.47,48897.08,0.54
2018-02-06,10.40,10.54,10.07,10.05,46953.19,-0.52,-4.91,10.568,10.935,11.254,50037.01,48777.85,50259.30,0.63
2018-02-05,10.16,10.70,10.60,10.12,45241.05,0.24,2.32,10.774,11.068,11.347,48209.73,48170.85,52528.74,0.60
2018-02-02,10.36,10.59,10.37,9.94,41976.24,-0.29,-2.72,10.870,11.157,11.423,49784.57,48328.01,57415.71,0.56
2018-02-01,11.07,11.17,10.66,10.51,68462.45,-0.48,-4.31,11.072,11.266,11.486,50333.21,48948.06,57768.76,0.91
2018-01-31,11.10,11.33,11.14,11.03,47552.13,0.04,0.36,11.256,11.370,11.539,49796.42,48074.72,59201.64,0.63
2018-01-30,11.08,11.20,11.10,11.01,37816.79,0.02,0.18,11.302,11.405,11.556,47518.68,48044.18,61629.28,0.50
2018-01-29,11.41,11.45,11.08,11.04,53115.25,-0.31,-2.72,11.362,11.459,11.557,48131.97,49153.12,63240.26,0.71
2018-01-26,11.57,11.57,11.38,11.38,44719.43,-0.20,-1.73,11.444,11.492,11.545,46871.44,49002.48,62280.64,0.60
2018-01-25,11.37,11.67,11.58,11.32,65778.51,0.21,1.85,11.460,11.511,11.516,47562.90,48733.23,61546.58,0.88
2018-01-24,11.44,11.44,11.37,11.31,36163.42,-0.02,-0.18,11.484,11.540,11.476,46353.02,48600.68,59262.26,0.48
2018-01-23,11.41,11.59,11.40,11.36,40883.22,-0.08,-0.70,11.508,11.573,11.445,48569.68,51740.76,58572.53,0.55
2018-01-22,11.50,11.51,11.49,11.25,46812.64,0.02,0.17,11.556,11.625,11.408,50174.28,56886.63,58177.23,0.62
2018-01-19,11.68,11.68,11.46,11.41,48176.72,-0.24,-2.05,11.540,11.688,11.379,51133.51,66503.41,57309.50,0.64
2018-01-18,11.42,11.72,11.70,11.40,59729.10,0.22,1.92,11.562,11.706,11.354,49903.56,66589.47,57068.00,0.80
2018-01-17,11.60,11.60,11.49,11.33,47246.72,-0.16,-1.37,11.596,11.708,11.325,50848.34,70328.56,56972.53,0.63
2018-01-16,11.38,11.66,11.64,11.31,48906.22,0.23,2.02,11.638,11.706,11.297,54911.84,75214.38,56298.78,0.65
2018-01-15,11.48,11.73,11.41,11.32,51608.78,-0.16,-1.38,11.694,11.654,11.263,63598.97,77327.40,56051.29,0.69
2018-01-12,11.80,11.80,11.57,11.55,42026.99,-0.30,-2.53,11.836,11.597,11.235,81873.31,75558.81,55321.25,0.56
2018-01-11,11.61,12.02,11.87,11.61,64452.99,0.17,1.45,11.850,11.520,11.210,83275.38,74359.94,54941.02,0.86
2018-01-10,11.92,11.92,11.70,11.58,67564.23,-0.21,-1.76,11.820,11.411,11.165,89808.77,69923.85,53856.81,0.90
2018-01-09,12.13,12.28,11.92,11.86,92341.86,-0.20,-1.65,11.774,11.317,11.130,95516.91,65404.30,52514.99,1.23
2018-01-08,12.19,12.70,12.12,11.96,142980.48,0.47,4.03,11.614,11.191,11.096,91055.83,59467.83,50226.37,1.91
2018-01-05,11.79,11.79,11.64,11.59,49037.36,-0.08,-0.68,11.358,11.069,11.050,69244.31,48115.59,45242.50,0.65
2018-01-04,11.53,11.80,11.72,11.30,97119.94,0.24,2.09,11.190,11.002,11.026,65444.49,47546.54,44869.11,1.30
2018-01-03,11.06,11.56,11.47,11.05,96104.93,0.35,3.15,11.002,10.941,11.013,50038.92,43616.51,42265.64,1.28
2018-01-02,10.85,11.22,11.12,10.83,70036.42,0.29,2.68,10.860,10.887,10.993,35291.69,37383.18,39593.84,0.93

In [12]:
ndf = pd.DataFrame(df.close,index=pd.to_datetime(df.index))
ndf

            close
date
2018-04-09  10.47
2018-04-04  10.41
2018-04-03  10.29
2018-04-02  10.56
2018-03-30  10.57
2018-03-29  10.54
2018-03-28  10.39
2018-03-27  10.56
2018-03-26  10.34
2018-03-23  10.05
2018-03-22  10.83
2018-03-21  10.83
2018-03-20  10.74
2018-03-19  10.98
2018-03-16  11.21
2018-03-15  11.75
2018-03-14  11.81
2018-03-13  11.73
2018-03-12  11.45
2018-03-09  11.27
2018-03-08  11.29
2018-03-07  11.18
2018-03-06  11.37
2018-03-05  10.96
2018-03-02  10.93
2018-03-01  11.17
2018-02-28  10.99
2018-02-27  10.96
2018-02-26  11.00
2018-02-23  10.79
...           ...
2018-02-12  10.13
2018-02-09   9.97
2018-02-08  10.44
2018-02-07  10.15
2018-02-06  10.07
2018-02-05  10.60
2018-02-02  10.37
2018-02-01  10.66
2018-01-31  11.14
2018-01-30  11.10
2018-01-29  11.08
2018-01-26  11.38
2018-01-25  11.58
2018-01-24  11.37
2018-01-23  11.40
2018-01-22  11.49
2018-01-19  11.46
2018-01-18  11.70
2018-01-17  11.49
2018-01-16  11.64
2018-01-15  11.41
2018-01-12  11.57
2018-01-11  11.87
2018-01-10  11.70
2018-01-09  11.92
2018-01-08  12.12
2018-01-05  11.64
2018-01-04  11.72
2018-01-03  11.47
2018-01-02  11.12

[63 rows x 1 columns]

In [24]:
ndf.close['2018-04-09']

date
2018-04-09    10.47
Name: close, dtype: float64

In [16]:
Leps

2016-08-30    0.01
2017-03-30   -0.28
dtype: float64

In [26]:
PE = pd.Series()
for i in ndf.index:
    for eps_date in Leps.index:
        if  i >= eps_date:
            PE[i] = ndf.close[i]/Leps[eps_date]

In [28]:
PE*Leps[-1] == ndf.close

2018-04-09     True
2018-04-04     True
2018-04-03     True
2018-04-02     True
2018-03-30     True
2018-03-29     True
2018-03-28     True
2018-03-27     True
2018-03-26     True
2018-03-23    False
2018-03-22     True
2018-03-21     True
2018-03-20     True
2018-03-19    False
2018-03-16     True
2018-03-15     True
2018-03-14     True
2018-03-13     True
2018-03-12     True
2018-03-09     True
2018-03-08     True
2018-03-07     True
2018-03-06    False
2018-03-05    False
2018-03-02    False
2018-03-01     True
2018-02-28     True
2018-02-27    False
2018-02-26     True
2018-02-23     True
              ...
2018-02-12     True
2018-02-09     True
2018-02-08     True
2018-02-07     True
2018-02-06    False
2018-02-05     True
2018-02-02     True
2018-02-01     True
2018-01-31     True
2018-01-30     True
2018-01-29     True
2018-01-26     True
2018-01-25     True
2018-01-24    False
2018-01-23    False
2018-01-22     True
2018-01-19     True
2018-01-18     True
2018-01-17     True
2018-01-16     True
2018-01-15    False
2018-01-12     True
2018-01-11     True
2018-01-10     True
2018-01-09     True
2018-01-08     True
2018-01-05     True
2018-01-04     True
2018-01-03     True
2018-01-02     True
Length: 63, dtype: bool

In [29]:
PE[pd.to_datetime('2018-03-23')]*Leps[-1]

10.049999999999999

In [30]:
ndf.close[pd.to_datetime('2018-03-23')]

10.050000000000001

In [34]:
#自动调用eps计算PE
Leps = A_EPS['600618']
Lprices = pd.Series(df.close,index = pd.to_datetime(df.index))
PE = pd.Series()
for i in Lprices.index:
    for eps_date in Leps.index:
        if  i >= eps_date:
            PE[i] = Lprices[i]/Leps[eps_date]
        elif i < eps_date:
            break

In [36]:
PE

2018-04-10   -37.678571
2018-04-09   -37.392857
2018-04-04   -37.178571
2018-04-03   -36.750000
2018-04-02   -37.714286
2018-03-30   -37.750000
2018-03-29   -37.642857
2018-03-28   -37.107143
2018-03-27   -37.714286
2018-03-26   -36.928571
2018-03-23   -35.892857
2018-03-22   -38.678571
2018-03-21   -38.678571
2018-03-20   -38.357143
2018-03-19   -39.214286
2018-03-16   -40.035714
2018-03-15   -41.964286
2018-03-14   -42.178571
2018-03-13   -41.892857
2018-03-12   -40.892857
2018-03-09   -40.250000
2018-03-08   -40.321429
2018-03-07   -39.928571
2018-03-06   -40.607143
2018-03-05   -39.142857
2018-03-02   -39.035714
2018-03-01   -39.892857
2018-02-28   -39.250000
2018-02-27   -39.142857
2018-02-26   -39.285714
                ...
2018-02-12   -36.178571
2018-02-09   -35.607143
2018-02-08   -37.285714
2018-02-07   -36.250000
2018-02-06   -35.964286
2018-02-05   -37.857143
2018-02-02   -37.035714
2018-02-01   -38.071429
2018-01-31   -39.785714
2018-01-30   -39.642857
2018-01-29   -39.571429
2018-01-26   -40.642857
2018-01-25   -41.357143
2018-01-24   -40.607143
2018-01-23   -40.714286
2018-01-22   -41.035714
2018-01-19   -40.928571
2018-01-18   -41.785714
2018-01-17   -41.035714
2018-01-16   -41.571429
2018-01-15   -40.750000
2018-01-12   -41.321429
2018-01-11   -42.392857
2018-01-10   -41.785714
2018-01-09   -42.571429
2018-01-08   -43.285714
2018-01-05   -41.571429
2018-01-04   -41.857143
2018-01-03   -40.964286
2018-01-02   -39.714286
Length: 64, dtype: float64

判定nan

In [60]:
T = A_EPS['600901']

In [68]:
T[:] = [np.nan,np.nan]

In [65]:
len(np.isnan(A_EPS['600901']))

2

In [66]:
T[np.isnan(T)] = input()

1 2

In [51]:
T = input()

1

In [72]:
T

2016-07-14    1.0
2017-01-13    2.0
dtype: float64

In [71]:
#判定空值并输入替代值
if len(np.isnan(T))>0:
    print(T)
    for i in T[np.isnan(T)].index:
        print('Please input the value of '+str(i))
        T[i] = input()

2016-07-14   NaN
2017-01-13   NaN
dtype: float64
Please input the value of 2016-07-14 00:00:00
1
Please input the value of 2017-01-13 00:00:00
2

In [79]:
#加入空值判定
Leps = A_EPS['600618']
if len(Leps[np.isnan(Leps)])>0:
    print(Leps)
    for i in Leps[np.isnan(Leps)].index:
        print('Please input the value of '+str(i))
        Leps[i] = input()
Lprices = pd.Series(df.close,index = pd.to_datetime(df.index))
PE = pd.Series()
for i in Lprices.index:
    for eps_date in Leps.index:
        if  i >= eps_date:
            PE[i] = Lprices[i]/Leps[eps_date]
        elif i < eps_date:
            break

In [76]:
L2 = pd.Series([np.nan,1,np.nan,2])

In [78]:
np.isnan(L2)

0     True
1    False
2     True
3    False
dtype: bool

In [84]:
#EPS函数出库了
def get_eps(Years = [2014,2015,2016,2017]):
    A_EPS = pd.Series()
    for Year in Years:
        for q in range(1,5):
            df = ts.get_report_data(Year,q)
            for i in df.code:
                try:
                    List = df[df.code == i]
                    eps = List.eps.values[0]
                    md = List.report_date.values[0]
                    Date = str(Year)+'-'+md
                    Date = pd.to_datetime(Date,format='%Y-%m-%d')
                    if q > 2:
                        if Date < pd.Timestamp(Year,6,1):
                            Date = pd.to_datetime(str(Year+1)+'-'+md)
                    try:
                        A_EPS[i][Date] = eps
                    except:
                        A_EPS[i] = pd.Series() 
                        A_EPS[i][Date] = eps
                except:
                    continue
    return A_EPS

In [86]:
ALLRPS = get_eps()

[Getting data:]##############################################[Getting data:]################################################[Getting data:]###############################################[Getting data:]###########################################################[Getting data:]#################################################[Getting data:]###################################################[Getting data:]####################################################[Getting data:]###########################################################[Getting data:]#######################################################[Getting data:]#########################################################[Getting data:]##########################################################[Getting data:]###########################################################[Getting data:]########################################################[Getting data:]###########################################################[Getting data:]##########################################################[Getting data:]#########################

In [5]:
ALLRPS[0]

2017-10-23    0.15
2017-11-09    0.50
2018-03-27    0.57
dtype: float64

In [2]:
import myfun02

In [4]:
ALLRPS = myfun02.get_eps([2017])

[Getting data:]########################################################[Getting data:]###########################################################[Getting data:]##########################################################[Getting data:]#########################

In [6]:
#PE函数出库了
def get_pe(stock,prices,dates,A_EPS = ALLRPS):
    Leps = A_EPS[stock]
    if len(Leps[np.isnan(Leps)])>0:
        print(Leps)
        for i in Leps[np.isnan(Leps)].index:
            print('Please input the value of '+str(i))
            Leps[i] = input()
    Lprices = pd.Series(prices,index = pd.to_datetime(dates))
    PE = pd.Series()
    for i in Lprices.index:
        for eps_date in Leps.index:
            if  i >= eps_date:
                PE[i] = Lprices[i]/Leps[eps_date]
            elif i < eps_date:
                break
    return PE

In [3]:
df = ts.get_hist_data('600000',start = '2018-01-01')
df

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2018-04-10,11.52,11.79,11.76,11.51,287482.97,0.26,2.26,11.616,11.616,11.955,222262.80,254181.32,256431.79,0.10
2018-04-09,11.53,11.59,11.50,11.49,167224.81,-0.03,-0.26,11.594,11.610,11.991,211310.14,282539.41,253836.79,0.06
2018-04-04,11.61,11.65,11.54,11.53,196375.09,-0.02,-0.17,11.618,11.686,12.040,244082.79,288765.42,256557.61,0.07
2018-04-03,11.66,11.67,11.56,11.54,183035.14,-0.15,-1.28,11.624,11.762,12.087,250630.33,293006.37,266147.65,0.07
2018-04-02,11.68,11.82,11.72,11.65,277196.00,0.07,0.60,11.636,11.836,12.134,268688.92,295375.14,270607.22,0.10
2018-03-30,11.63,11.69,11.65,11.61,232719.66,0.03,0.26,11.616,11.894,12.168,286099.83,284551.59,271419.16,0.08
2018-03-29,11.57,11.71,11.62,11.45,331088.06,0.05,0.43,11.626,11.960,12.206,353768.69,288061.02,271295.24,0.12
2018-03-28,11.53,11.75,11.57,11.52,229112.81,-0.05,-0.43,11.754,12.036,12.248,333448.04,272239.99,271986.35,0.08
2018-03-27,11.70,11.77,11.62,11.56,273328.09,0.01,0.09,11.900,12.118,12.292,335382.41,272133.31,280475.18,0.10
2018-03-26,11.71,11.75,11.62,11.50,364250.53,-0.09,-0.77,12.036,12.205,12.345,322061.36,269945.50,291089.32,0.13
2018-03-23,12.00,12.06,11.70,11.64,571063.94,-0.55,-4.49,12.172,12.294,12.401,283003.35,258682.27,297279.82,0.20
2018-03-22,12.35,12.35,12.26,12.25,229484.84,-0.03,-0.24,12.294,12.372,12.452,222353.36,225134.16,288094.88,0.08
2018-03-21,12.34,12.40,12.30,12.28,238784.66,-0.02,-0.16,12.318,12.393,12.470,211031.94,224349.81,297626.78,0.08
2018-03-20,12.28,12.39,12.30,12.25,206722.83,-0.01,-0.08,12.336,12.412,12.478,208884.21,239288.92,301986.45,0.07
2018-03-19,12.31,12.33,12.30,12.26,168960.48,0.00,0.00,12.374,12.431,12.488,217829.65,245839.31,319100.42,0.06
2018-03-16,12.36,12.40,12.31,12.30,267814.00,-0.08,-0.65,12.416,12.442,12.498,234361.19,258286.72,343051.99,0.10
2018-03-15,12.35,12.41,12.38,12.34,172877.73,-0.01,-0.08,12.450,12.452,12.522,227914.97,254529.45,404289.97,0.06
2018-03-14,12.45,12.45,12.39,12.38,228046.03,-0.10,-0.80,12.468,12.460,12.558,237667.68,271732.71,450359.52,0.08
2018-03-13,12.50,12.58,12.49,12.43,251450.00,-0.01,-0.08,12.488,12.466,12.611,269693.63,288817.05,539342.28,0.09
2018-03-12,12.53,12.54,12.51,12.46,251618.20,0.03,0.24,12.488,12.485,12.660,273848.97,312233.13,648949.28,0.09
2018-03-09,12.49,12.51,12.48,12.42,235582.88,0.01,0.08,12.468,12.507,12.709,282212.25,335877.37,711443.20,0.08
2018-03-08,12.55,12.55,12.47,12.40,221641.31,-0.02,-0.16,12.454,12.531,12.742,281143.94,351055.60,735562.44,0.08
2018-03-07,12.51,12.60,12.49,12.46,388175.75,0.00,0.00,12.452,12.546,12.784,305797.74,370903.75,811267.04,0.14
2018-03-06,12.48,12.51,12.49,12.38,272226.69,0.07,0.56,12.444,12.543,12.818,307940.46,364683.99,850709.88,0.10
2018-03-05,12.41,12.48,12.41,12.34,293434.62,0.00,0.00,12.482,12.545,12.848,350617.30,392361.53,891000.55,0.10
2018-03-02,12.40,12.46,12.41,12.36,230241.31,-0.06,-0.48,12.546,12.554,12.901,389542.49,427817.27,953220.37,0.08
2018-03-01,12.40,12.50,12.46,12.38,344910.31,0.00,0.00,12.608,12.591,12.952,420967.26,554050.49,1050918.15,0.12
2018-02-28,12.61,12.66,12.45,12.44,398889.38,-0.24,-1.89,12.640,12.655,13.012,436009.76,628986.33,1122167.44,0.14
2018-02-27,12.75,12.76,12.68,12.61,485610.88,-0.05,-0.39,12.642,12.755,13.069,421427.51,789867.51,1292049.79,0.17
2018-02-26,12.77,12.84,12.73,12.61,488060.56,0.01,0.08,12.608,12.835,13.080,434105.76,985665.42,1376682.97,0.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-02-12,12.66,12.68,12.50,12.43,647992.00,-0.28,-2.19,13.062,13.151,13.192,1537225.07,1389639.58,1647054.63,0.23
2018-02-09,12.89,12.98,12.78,12.24,1492573.50,-0.32,-2.44,13.258,13.247,13.218,1707926.00,1478623.48,1645315.37,0.53
2018-02-08,13.34,13.40,13.10,12.95,1094268.75,-0.35,-2.60,13.330,13.312,13.224,1553004.86,1547785.80,1582788.41,0.39
2018-02-07,13.58,13.90,13.45,13.24,2007701.12,-0.03,-0.22,13.372,13.368,13.216,1681297.76,1615348.55,1546983.18,0.71
2018-02-06,13.29,13.50,13.48,13.20,2443590.00,-0.01,-0.07,13.316,13.383,13.195,1515164.06,1794232.07,1491938.11,0.87
2018-02-05,13.00,13.54,13.48,12.98,1501496.62,0.34,2.59,13.240,13.325,13.156,1242054.08,1767700.52,1382866.33,0.53
2018-02-02,13.19,13.19,13.14,13.01,717967.81,-0.16,-1.20,13.236,13.255,13.116,1249320.96,1890064.66,1323486.44,0.26
2018-02-01,13.14,13.33,13.31,12.94,1735733.25,0.14,1.06,13.294,13.266,13.094,1542566.75,1989916.75,1303101.42,0.62
2018-01-31,13.05,13.19,13.17,12.98,1177032.62,0.06,0.46,13.364,13.259,13.061,1549399.35,1927951.50,1230256.66,0.42
2018-01-30,13.45,13.49,13.10,13.09,1078040.12,-0.36,-2.67,13.450,13.253,13.036,2073300.07,1937381.05,1190324.58,0.38
2018-01-29,13.48,13.53,13.46,13.32,1537831.00,0.05,0.37,13.410,13.233,13.018,2293346.95,1904469.69,1152084.10,0.55
2018-01-26,13.65,13.72,13.43,13.36,2184196.75,-0.22,-1.61,13.274,13.189,12.974,2530808.35,1812007.27,1083368.47,0.78
2018-01-25,13.54,13.76,13.66,13.36,1769896.25,0.09,0.66,13.238,13.136,12.930,2437266.75,1617791.01,986094.04,0.63
2018-01-24,12.97,14.00,13.60,12.89,3796536.25,0.70,5.43,13.154,13.064,12.878,2306503.65,1478617.80,913965.17,1.35
2018-01-23,12.75,12.92,12.90,12.68,2178274.50,0.13,1.02,13.056,13.006,12.830,1801462.02,1189644.16,731751.22,0.78
2018-01-22,12.93,13.15,12.78,12.71,2725138.00,-0.46,-3.47,13.056,12.987,12.815,1515592.42,998032.14,632490.82,0.97
2018-01-19,13.33,13.61,13.25,13.18,1716488.75,0.01,0.08,13.104,12.977,12.807,1093206.19,756908.23,504272.39,0.61
2018-01-18,13.14,13.25,13.24,13.05,1116080.75,0.14,1.07,13.034,12.921,12.779,798315.27,616286.10,428974.15,0.40
2018-01-17,12.91,13.42,13.11,12.89,1271328.12,0.21,1.63,12.974,12.863,12.753,650731.95,532561.83,386490.03,0.45
2018-01-16,12.97,13.06,12.90,12.78,748926.50,-0.12,-0.92,12.956,12.819,12.735,577826.30,443268.12,332123.43,0.27
2018-01-15,12.88,13.08,13.02,12.85,613206.81,0.11,0.85,12.918,12.802,12.722,480471.86,399698.52,301399.93,0.22
2018-01-12,12.97,13.00,12.90,12.90,242034.19,-0.04,-0.31,12.850,12.759,12.703,420610.28,354729.67,278844.64,0.09
2018-01-11,12.95,13.04,12.94,12.87,378164.12,-0.08,-0.61,12.808,12.723,12.692,434256.93,354397.07,274813.77,0.13
2018-01-10,12.70,13.09,13.02,12.68,906799.88,0.32,2.52,12.752,12.691,12.683,414391.71,349312.54,265578.23,0.32
2018-01-09,12.68,12.74,12.71,12.66,262154.31,0.03,0.24,12.682,12.653,12.669,308709.93,273858.27,235423.29,0.09
2018-01-08,12.69,12.71,12.68,12.63,313898.88,-0.01,-0.08,12.686,12.642,12.682,318925.18,266949.50,240640.52,0.11
2018-01-05,12.67,12.71,12.69,12.62,310267.44,0.03,0.24,12.668,12.636,12.694,288849.05,251636.55,240593.69,0.11
2018-01-04,12.70,12.73,12.66,12.62,278838.03,0.00,0.00,12.638,12.637,12.708,274537.21,241662.20,242481.43,0.10
2018-01-03,12.73,12.80,12.67,12.66,378391.00,-0.05,-0.39,12.630,12.642,12.723,284233.37,240418.24,250322.00,0.13
2018-01-02,12.61,12.77,12.73,12.60,313230.53,0.14,1.11,12.624,12.650,12.748,239006.61,220978.74,293300.85,0.11

In [4]:
import myfun02
PPE = myfun02.get_pe('600000',df.close,df.index)

[Getting data:]########################################################[Getting data:]###########################################################[Getting data:]##########################################################[Getting data:]#########################

In [5]:
PPE

2018-04-10    8.110345
2018-04-09    7.931034
2018-04-04    7.958621
2018-04-03    7.972414
2018-04-02    8.082759
2018-03-30    8.034483
2018-03-29    8.013793
2018-03-28    7.979310
2018-03-27    8.013793
2018-03-26    8.013793
2018-03-23    8.068966
2018-03-22    8.455172
2018-03-21    8.482759
2018-03-20    8.482759
2018-03-19    8.482759
2018-03-16    8.489655
2018-03-15    8.537931
2018-03-14    8.544828
2018-03-13    8.613793
2018-03-12    8.627586
2018-03-09    8.606897
2018-03-08    8.600000
2018-03-07    8.613793
2018-03-06    8.613793
2018-03-05    8.558621
2018-03-02    8.558621
2018-03-01    8.593103
2018-02-28    8.586207
2018-02-27    8.744828
2018-02-26    8.779310
                ...
2018-02-12    8.620690
2018-02-09    8.813793
2018-02-08    9.034483
2018-02-07    9.275862
2018-02-06    9.296552
2018-02-05    9.296552
2018-02-02    9.062069
2018-02-01    9.179310
2018-01-31    9.082759
2018-01-30    9.034483
2018-01-29    9.282759
2018-01-26    9.262069
2018-01-25    9.420690
2018-01-24    9.379310
2018-01-23    8.896552
2018-01-22    8.813793
2018-01-19    9.137931
2018-01-18    9.131034
2018-01-17    9.041379
2018-01-16    8.896552
2018-01-15    8.979310
2018-01-12    8.896552
2018-01-11    8.924138
2018-01-10    8.979310
2018-01-09    8.765517
2018-01-08    8.744828
2018-01-05    8.751724
2018-01-04    8.731034
2018-01-03    8.737931
2018-01-02    8.779310
Length: 64, dtype: float64